* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --second-color: #0e1e5f;
    --text-color: #000000;
    --Primary-color: #ffa200;
}

html {
    width: 100%;
    max-width: 100%;
    font-size: 100%;
}

body {
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

/* #####################################
*           GLOBAL STYLE
* ##################################### 
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 10px;
}

img {
    height: auto;
    max-width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 25px;
}

.btn {
    background: var(--Primary-color);
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    color: #ffff;
    font-size: 18px;
    transition: all 0.5s ease;
    border: 2px solid var(--Primary-color);
    border-radius: 50px;

    &:hover {
        background: #ffffff00;
        color: var(--Primary-color);
    }
}

/* #####################################
*           TYPHOGRAPHY STYLE
* ##################################### 
*/

h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: var(--second-color);
}

h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: var(--second-color);
}
h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: var(--second-color);
}
h4 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: var(--second-color);
}
h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--second-color);
}

h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: var(--second-color);
}

p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--second-color);
}

/* #####################################
*              MAIN HEADER 
* ##################################### 
*/

.main-header {
    padding: 30px 0;

    .container {
        .header-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .webx-logo {
                img {
                    width: 150px;
                }
            }

            .navber {
                a {
                    color: var(--text-color);
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}

// <--Durk Mode Togge Buttons1--> //
.wpddm-toggle-wrap {
    cursor: pointer;
    display: inline-flex;
    padding: 5px;
    border-radius: 50px;
    background: #eeeeee;

    &.wpddm-toggle-style-1 {
        position: relative;
        overflow: hidden;
        transition: all 0.6s ease;

        .wpddm-light,
        .wpddm-dark {
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            position: absolute;
            transition: all 0.6s ease;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
        }

        &.wpddm-active-light {
            background-color: #000;
            outline: solid 1px #ffffff;
            position: relative;

            .wpddm-light {
                background-image: url(./assats/icons/sun.svg);
                bottom: 0px;
            }

            .wpddm-dark {
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: -50px;
            }
        }

        &.wpddm-active-dark {
            background-color: #fff;
            outline: solid 1px #000;
            position: relative;

            .wpddm-light {
                bottom: -50px;
            }

            .wpddm-dark {
                background-image: url(./assats/icons/moon.svg);
                bottom: 0px;
            }
        }

        &.wpddm-floting {
            position: fixed;
            bottom: 30px;

            &.wpddm-left {
                left: 30px;
            }

            &.wpddm-right {
                right: 30px;
            }

            &.wpddm-middle {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }

        &.wpddm-toggle-small {
            height: 40px;
            width: 40px;
        }

        &.wpddm-toggle-medium {
            height: 45px;
            width: 45px;
        }

        &.wpddm-toggle-large {
            height: 50px;
            width: 50px;

            &.wpddm-active-light {
                background-color: #000;
            }

            &.wpddm-active-dark {
                background-color: #fff;
            }
        }
    }
} // <--Durk Mode Togge Buttons1--> //

//<--Durk Mode Togge Buttons2--> //
.wpddm-toggle-wrap {
    cursor: pointer;
    display: inline-flex;
    padding: 10px;
    border-radius: 50px;
    background: #eeeeee;
    position: relative;
    border: solid 1px #ddd;
    transition: all 0.4s ease;

    &.wpddm-toggle-style-2 {
        width: 90px;
        height: 40px;
        overflow: hidden;
        display: flex;
        align-items: center;

        .wpddm-toggle-icon {
            background: #000000;
            border-radius: 50%;
            transform: translateX(-5px);
            transition: all 0.4s ease;

            .wpddm-toggle-main-icon {
                background-image: url(./assats/icons/sun.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 20px;
                width: 30px;
                height: 30px;
            }
        }

        .wpddm-toggle-text {
            transform: translateX(3px);
            transition: all 0.4s ease;

            .wpddm-dark {
                display: none;
            }
        }

        &.wpddm-active-dark {
            background: #000000;

            .wpddm-toggle-icon {
                background: #ffffff;
                transform: translateX(43px);

                .wpddm-toggle-main-icon {
                    background-image: url(./assats/icons/moon.svg);
                }
            }

            .wpddm-toggle-text {
                transform: translateX(-32px);

                .wpddm-light {
                    display: none;
                }

                .wpddm-dark {
                    display: block;
                    color: #ffffff;
                }
            }
        }

        &.wpddm-floting {
            position: fixed;
            bottom: 30px;

            &.wpddm-left {
                left: 30px;
            }

            &.wpddm-middle {
                left: 0;
                right: 0;
                margin: 0 auto;
            }

            &.wpddm-right {
                right: 30px;
            }
        }

        &.wpddm-toggle-small {
            width: 80px;
            height: 35px;

            .wpddm-toggle-icon {
                .wpddm-toggle-main-icon {
                    background-size: 18px;
                    width: 25px;
                    height: 25px;
                }
            }

            .wpddm-toggle-text {
                span {
                    font-size: 14px;
                }
            }

            &.wpddm-active-dark {
                .wpddm-toggle-icon {
                    transform: translateX(38px);
                }

                .wpddm-toggle-text {
                    transform: translateX(-28px);
                }
            }
        }

        &.wpddm-toggle-large {
            width: 100px;
            height: 45px;

            .wpddm-toggle-icon {
                .wpddm-toggle-main-icon {
                    background-size: 22px;
                    width: 32px;
                    height: 32px;
                }
            }

            .wpddm-toggle-text {
                span {
                    font-size: 18px;
                }
            }

            &.wpddm-active-dark {
                .wpddm-toggle-icon {
                    transform: translateX(50px);
                }

                .wpddm-toggle-text {
                    transform: translateX(-32px);
                }
            }
        }
    }
} //<--Durk Mode Togge Buttons2--> //

//<--Durk Mode Togge Buttons3 start --> //
.wpddm-toggle-wrap {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background: #eeeeee;
    position: relative;
    border: solid 1px #ddd;

    &.wpddm-toggle-style-3 {
        width: 90px;
        height: 40px;

        .wpddm-toggle-icon {
            background: linear-gradient(90deg, #3858e9 30%, #000000);
            border-radius: 50%;
            transform: translateX(-5px);
            transition: all 0.4s ease;

            .wpddm-toggle-main-icon {
                background-image: url(./assats/icons/sun.svg);
                background-position: center;
                background-size: 20px;
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
            }
        }

        &.wpddm-active-dark {
            background: linear-gradient(90deg, #3858e9 30%, #000000);

            .wpddm-toggle-icon {
                background: #ffffff;
                transform: translateX(43px);

                .wpddm-toggle-main-icon {
                    background-image: url(./assats/icons/moon.svg);
                }
            }
        }

        &.wpddm-floting {
            position: fixed;
            bottom: 30px;

            &.wpddm-left {
                left: 30px;
            }

            &.wpddm-middle {
                left: 0;
                right: 0;
                margin: 0 auto;
            }

            &.wpddm-right {
                right: 30px;
            }
        }

        &.wpddm-toggle-small {
            width: 80px;
            height: 34px;

            .wpddm-toggle-icon {
                .wpddm-toggle-main-icon {
                    width: 25px;
                    height: 25px;
                    background-size: 16px;
                }
            }

            &.wpddm-active-dark {
                .wpddm-toggle-icon {
                    transform: translateX(38px);
                }
            }
        }

        &.wpddm-toggle-large {
            width: 100px;
            height: 45px;

            .wpddm-toggle-icon {
                .wpddm-toggle-main-icon {
                    width: 35px;
                    height: 35px;
                    background-size: 22px;
                }
            }

            &.wpddm-active-dark {
                .wpddm-toggle-icon {
                    transform: translateX(48px);
                }
            }
        }

        .wpddm-toggle-text {
            display: none;
        }
    }
} //<--Durk Mode Togge Buttons3 end --> //

//<--Durk Mode Togge Buttons4 start --> //
.wpddm-toggle-wrap {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background: #eeeeee;
    position: relative;
    border: solid 1px #ddd;

    &.wpddm-toggle-style-4 {
        width: 105px;
        height: 35px;

        .wpddm-toggle-text {
            display: flex;
            gap: 10px;

            span {
                z-index: 20;
            }

            .wpddm-toggle-text-bg {
                width: 48px;
                height: 25px;
                position: absolute;
                background: #ffffff;
                border-radius: 50px;
                transform: translateX(-6px);
                transition: all 0.4s ease;
            }
        }

        &.wpddm-active-dark {
            .wpddm-toggle-text {
                span {
                    &.wpddm-dark {
                        color: #ffffff;
                    }
                }

                .wpddm-toggle-text-bg {
                    background: #000000;
                    transform: translateX(38px);
                }
            }
        }

        //Floating Toggle Size Small Start//
        &.wpddm-toggle-small {
            width: 95px;
            height: 30px;

            .wpddm-toggle-text {
                transform: translate(-3px, 1px);

                span {
                    font-size: 15px;
                }

                .wpddm-toggle-text-bg {
                    width: 45px;
                    height: 22px;
                    transform: translate(-4px, 1px);
                }
            }

            &.wpddm-active-dark {
                .wpddm-toggle-text {
                    .wpddm-toggle-text-bg {
                        transform: translate(38px, 1px);
                    }
                }
            }
        }
        //Floating Toggle Size Small End//

        //Floating Toggle Size large Start//
        &.wpddm-toggle-large {
            width: 110px;
            height: 38px;

            .wpddm-toggle-text {
                transform: translate(-3px, 1px);

                span {
                    font-size: 18px;
                }

                .wpddm-toggle-text-bg {
                    width: 52px;
                    height: 28px;
                    transform: translate(-4px, -2px);
                }
            }

            &.wpddm-active-dark {
                .wpddm-toggle-text {
                    .wpddm-toggle-text-bg {
                        transform: translate(46px, -2px);
                    }
                }
            }
        }
        //Floating Toggle Size large Start//
    }

    &.wpddm-floting {
        position: fixed;
        bottom: 30px;

        &.wpddm-left {
            left: 30px;
        }

        &.wpddm-middle {
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        &.wpddm-right {
            right: 30px;
        }
    }
} //<--Durk Mode Togge Buttons4 end --> //

//<!-- TOGGLE BUTTONS-14 START -->//
.wpddm-toggle-wrap {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background: #eeeeee;
    position: relative;
    border: solid 1px #ddd;

    &.wpddm-toggle-style-14 {
        width: 150px;
        height: 40px;
        border-radius: 5px;
        background: #00000000;
        border-color: #3858e95b;

        .wpddm-toggle-text {
            display: flex;

            .wpddm-light {
                background-image: url(./assats/icons/sun-black.svg);
                background-size: 20px;
                background-repeat: no-repeat;
                padding-left: 25px;
                background-position-y: 2px;
                padding-right: 5px;
            }

            .wpddm-dark {
                mask: url(./assats/icons/moon.svg);
                background-size: 20px;
                background-repeat: no-repeat;
                padding-left: 25px;
                background-position-y: 2px;
                transform: translateX(5px);
            }
        }
    }

    //FLOTING POSITION START //
    &.wpddm-floting {
        position: fixed;
        bottom: 30px;

        &.wpddm-left {
            left: 30px;
        }

        &.wpddm-middle {
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        &.wpddm-right {
            right: 30px;
        }
    }
    //FLOTING POSITION END //
} //<!-- TOGGLE BUTTONS-14 END -->//

//<!-- TOGGLE BUTTONS-15 START -->//
.wpddm-toggle-wrap {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 6px;
    border-radius: 50px;
    background: #eeeeee;
    position: relative;
    border: solid 2px #507ffe;

    &.wpddm-toggle-style-15 {
        width: 88px;
        height: 40px;
        border-radius: 500px;
        background: #222943;
        border-color: #3858e95b;

        .wpddm-toggle-text {
            display: flex;

            .wpddm-light,
            .wpddm-dark {
                text-transform: uppercase;
                font-weight: 900;
                position: relative;
                color: #646f97;
                transition: all 0.3s ease;
            }

            .wpddm-dark {
                opacity: 0;
                visibility: hidden;
            }
        }

        .wpddm-toggle-icon {
            background: #0e1e5f;
            border-radius: 1000px;
            padding: 15px;
            background-image: url(/assets/images/moon.svg);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: center;
            width: 30px;
            height: 30px;
            border: solid 1px #3858e9;
            margin-right: 10px;
            transition: all 0.3s ease;
        }

        &.wpddm-active-dark {
            .wpddm-toggle-icon {
                transform: translateX(44px);
            }

            .wpddm-toggle-text {
                .wpddm-dark {
                    opacity: 1;
                    visibility: visible;

                    transform: translateX(-68px);
                }

                .wpddm-light {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }

    //FLOTING POSITION START //
    &.wpddm-floting {
        position: fixed;
        bottom: 30px;

        &.wpddm-left {
            left: 30px;
        }

        &.wpddm-middle {
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        &.wpddm-right {
            right: 30px;
        }
    }
    //FLOTING POSITION END //
} //<!-- TOGGLE BUTTONS-15 END -->//
